@charset "utf-8";
/* CSS Document */

body{
	background-color:cornsilk;
}

/*Divisions*/

#contact-form{
	background-color: #e9ecef;
	border-radius: 24px;
}

#calendar{
	margin-bottom: 50px;
}

#header{
	
	margin-bottom: 50px; 
	
}

#event-div{
	background-color: #e9ecef;
}

#navigation{
	height: 400px;
	background-color: black;
	margin-bottom: 50px; 
}

#gallery{
	
	margin-bottom: 50px; 
	
}

#information{
	
	margin-bottom: 50px; 
	
}

#options{
	margin-top: 450px;
	margin-bottom: 50px; 
}

#options2{
	
	margin-bottom: 50px; 
	
}

#footer{
	
	background-color: #e9ecef;
	
	
}

#about-us-info{
	margin-bottom: 50px;
}

#emdbed-video{
	margin-bottom: 50px;
}

#news-div{
	
	margin-bottom: 50px;
}

/*Items*/

.main-jumbo{
	
}

#logo {
	margin-bottom: 25px;
	margin-left: 45%;
	
}

.menu-option{
	font-size: 20px;
}

.card{
	background-color: #e9ecef;
}

.my-shadow{
	box-shadow: 0px 0px 50px 5px black;
}

.my-shadow-lite{
	box-shadow: 0px 0px 10px 3px black;
}

#carousel-1{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

#media{
	height: 64px;
	width: 270px;
	margin-left: auto;
	margin-right: auto;
	
}

#arrow-up{
	position:absolute;
	right: 20px;
	top: 5px;
}

#img2{
	position: absolute;
	right: 0px;
	
}

#about-us-card{
	width: 1000px;
}

#paypal{
	border-radius: 24px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 800;
}
#donate-div {
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 12px;
}

#donate-btn{
	height: 50px;
}

.mapouter{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

.gmap_canvas{
	border: 10px solid #e9ecef;
	border-radius: 12px;
	
}
